.game-card {
  display: flex;
  width: 30%;
  border: 1px solid #00c2d1;
  border-radius: 25px;
  display: inline-block;
  margin-right: 3px;
  padding: 15px;
  margin-top: 3px;
  background-color: $league-blue;
  &:hover {
    background-color: $purple;
    border: 1px solid $purple;
  }
  &:hover p {
    color: $gold;
  }
  .teams {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .team-info {
      text-align: center;
      img {
        max-height: 100px;
      }
    }
  }
  .game-date {
    padding: auto;
    text-align: center;
  }
}
